@{
    ViewBag.Title = "Home Page";
}
<style>
    canvas {
        width: 100%;
        height: 100%;
    }
    #UI {
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: left;
        color: white;
        
    }
    .shipPos {
        
    }
</style>

<div id= "UI">
    <span id="shipPosition" class="shipPos">Ship Position</span><br />
    <span id="cameraPosition">Camera Position</span>
    <script src="/Scripts/game.js"></script>
</div>

