@{
    ViewBag.Title = "Home Page";
}
<div id="container">
    <div id="UI">
        <span id="shipPosition"></span><br /><br />
        <span id="cameraPosition"></span><br /><br />
        <span id="shipTarget"></span>
        <script src="/Scripts/game.js"></script>
    </div>
</div>

